

<div class="icon-navbar-container shadow-sm mb-4" *ngIf="showNavBar">
  <div class="icon-navbar">
    <a routerLink="/upload" routerLinkActive="active"><i class="fas fa-home"></i><span>Upload Documents</span></a>
    <a routerLink="/view" routerLinkActive="active"><i class="fas fa-user"></i><span>View Balances</span></a>
    <button class="icon-button" (click)="logout()" title="Logout">
      <i class="fas fa-sign-out-alt"></i>
      <span>LOGOUT</span>
    </button>
  </div>
</div>



<router-outlet></router-outlet>